@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&display=swap');

:root{
    --cor-primaria: #1C1E20;
    --cor-secundaria: #FF4656;
    --cor-terciaria: #E6E6E6;
    --cor-gray700: #222022;
    --cor-gray800: #1E1C1E;

    --font-principal: 'Inter', sans-serif;

}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    font-family: inter, sans-serif
}

.head{
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.principal{
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: space-between;
    padding: 75px;
}

    .principal img{
        width: 25%;
        height: 25%;
}

.foot{
    background-color: var(--cor-gray700);
    display: flex;
}
